<p id="notice"><%= notice %></p>

<h1>Listing Cms</h1>

<table>
  <thead>
    <tr>
      <th>Terms of use</th>
      <th>Contact us</th>
      <th>Cash on delivery</th>
      <th>Free shipping</th>
      <th>Privacy</th>
      <th>Policy</th>
      <th>Blog</th>
      <th>Need </th>
      <th>Help</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms.each do |cm| %>
      <tr>
        <td><%= cm.terms_of_use %></td>
        <td><%= cm.contact_us %></td>
        <td><%= cm.cash_on_delivery %></td>
        <td><%= cm.free_shipping %></td>
        <td><%= cm.privacy %></td>
        <td><%= cm.policy %></td>
        <td><%= cm.blog %></td>
        <td><%= cm.need_ %></td>
        <td><%= cm.help %></td>
        <td><%= link_to 'Show', cm %></td>
        <td><%= link_to 'Edit', edit_cm_path(cm) %></td>
        <td><%= link_to 'Destroy', cm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cm', new_cm_path %>
