<p id="notice"><%= notice %></p>

<p>
  <strong>Terms of use:</strong>
  <%= @cm.terms_of_use %>
</p>

<p>
  <strong>Contact us:</strong>
  <%= @cm.contact_us %>
</p>

<p>
  <strong>Cash on delivery:</strong>
  <%= @cm.cash_on_delivery %>
</p>

<p>
  <strong>Free shipping:</strong>
  <%= @cm.free_shipping %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @cm.privacy %>
</p>

<p>
  <strong>Policy:</strong>
  <%= @cm.policy %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @cm.blog %>
</p>

<p>
  <strong>Need :</strong>
  <%= @cm.need_ %>
</p>

<p>
  <strong>Help:</strong>
  <%= @cm.help %>
</p>

<%= link_to 'Edit', edit_cm_path(@cm) %> |
<%= link_to 'Back', cms_path %>
