<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Cartmandu::.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/layout.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/font-awesome.css" />
      
        <link rel="stylesheet" href="/assets/slippry.css" type="text/css">
         <link rel="stylesheet" href="/assets/style.css" type="text/css">
        <link  href="/assets/brand.css" rel="stylesheet" type="text/css" media="all">
        
        <link href="/assets/responsive.css" rel="stylesheet" media="screen">
    </head>
    <body>
      <header>
        <nav id="top">
          <div class="container">
            <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Electronics <span class="sr-only">(current)</span></a></li>

         <% @menus.limit(6).each do |cat| %>
         <%#= link_to categories_show_path %>
        <li ><%=link_to cat.name, list_items_show_path(cat.slug) if present? %></li><% end %>
      </ul>
      <ul id="top-links" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%#= link_to 'Log In', admin_root_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
            
            <li class="divider"></li>
            <li><%= link_to 'Setting', new_user_registration_path %></li>
          </ul>
        </li>
        <li><a href="#">Wish List (0)</a></li>
        <li><a href="#">Checkout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
          </div>
        </nav>
        <div class="container">
          <div id="header">
            <div class="col-xs-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="logo">
                <h1><%= link_to image_tag("logo.png"), root_path %></h1>
              </div>
            </div>
            <div class="col-sm-6 search-col">
                  <!-- Search Start -->
                  <div class="form-control">
    <%= collection_select( :home, :category_id, Category.all, :id, :name, {}, { :multiple => false } ) %>
    
       </div>
                  <div id="imaginary_container"> 
                   <%= form_tag('/search') do %>
                      <div class="input-group stylish-input-group">

                     <%= text_field_tag 'q','', :class=>'form-control ',:placeholder=>'Search'%>
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span> <i class="fa fa-search"></i></span>
                              </button>  
                          </span>
                      </div>
                       <% end -%>
                  </div>

                  <!-- Search End -->
            </div>
            <div class="col-sm-3">
              <div class="nav navbar-right cart pull-right">
              <a id="cart" href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span><b>0</b>
              <span> item(s)<br>$0.00</span>
              </span>
            </a>
            <div class="cart-info dropdown-menu pull-right" role="menu" style="visibility: visible;">
                        <div class="empty">Your shopping cart is empty!</div>
                        
              </div>
            </div>
            </div>
          </div>
          </div>
          </div>
        </div>        
        
    
   <div class="productsPage">
   <div class="container">
   <div class="row">
            
                    <div class="col-sm-3">
                    <div class="filterLeft"> <!---- filterLeft start ---->
                    <h5>Filter by</h5>
                    <div class="filterTitle">top brands</div>
                    
                    
                    <div class="filterCategory"><!---- filterCategory start ---->
                    <% @brands.each do |brand| %>
                    <div class="form-group">
                    
                    <div class="checkbox">
          
                    <input type="checkbox"> <%= brand.name %>
                    </div>
                  </div>
                   
              <% end %> 
                    
                    </div><!---- filterCategory colse ---->
                    
                
                    
                    <div class="filterTitle">Operating System</div>
                    <div class="filterCategory"><!---- filterCategory start ---->
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> Android
                    </div>
                  </div>
                    
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> iOS
                    </div>
                  </div>
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> Windows
                    </div>
                  </div>
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> Blackberry
                    </div>
                  </div>
                    
                    </div><!---- filterCategory colse ---->
                    
                    
                    
                    
                    
                    
                    <div class="filterTitle">Display</div>
                    <div class="filterCategory"><!---- filterCategory start ---->
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> 3" - 4"
                    </div>
                  </div>
                    
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> 4"- 5"
                    </div>
                  </div>
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> 5" - above
                    </div>
                  </div>
                    </div><!---- filterCategory colse ---->
                    
                    
                    
                    <div class="filterTitle">Price</div>
                    <div class="filterCategory"><!---- filterCategory start ---->
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> $30 - $50
                    </div>
                  </div>
                    
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> $50 - $100
                    </div>
                  </div>
                    
                    <div class="form-group">
            <div class="checkbox">
                    <input type="checkbox"> $100 - above
                    </div>
                  </div>
                    </div><!---- filterCategory colse ---->
                    
                    
                    
                    </div> <!---- filterLeft end ---->
                    </div>
                    
                
                    
                     <div class="col-sm-9">
                     <div class="productsListTab">
                     
                     
                     <div class="hotDeals">
                     <h2>Hot Deals</h2>
                     <div class="row">
                     <% @hotdeal.limit(3).order("RANDOM()").each do |hot| %>
                     <div class="col-sm-4">
                     <div class="thumbnail">
           <div class="caption">
           <%= link_to image_tag(hot.image_url(:thumb), :class => "img-responsive"), slugged_path(hot.slug)%>
                     
                     <p><b><%= hot.name %> </b>
                     <span class="price"><%= hot.price %></span></p>
                     </div>
                      </div></div>
                      <% end %>
                    
             
                     
                     </div>
                     
                     <button type="button" class="btn btn-success">View all deals</button>
                     </div>
              
                     
                     
                     <div class="budgetMobiles">
                     <h2>Budget Mobiles</h2>
                     <div class="row">
                      <% @budget.limit(3).order("RANDOM()").each do |bud| %>
                     <div class="col-sm-4">
                     <div class="thumbnail">
           <div class="caption">
                    <%= link_to image_tag(bud.image_url(:thumb), :class => "img-responsive"), slugged_path(bud.slug)%>
                     <p><b><%= bud.name %></b>
                     <span class="price"><%= bud.price %></span></p>
                     </div>
                     </div></div>
                     
                    
                      
                  <% end %>
                     
                     
                     
                     </div>
                     
                     <button type="button" class="btn btn-success">View all </button>
                     </div>
                     
                 
                       
                     <div class="bestSellingMobiles">
                     <h2>Best Selling Mobiles</h2>
                     <div class="row">
                                <% @items.limit(3).order("RANDOM()").each do |it| %>
                     <div class="col-sm-4">
                     <div class="thumbnail">
           <div class="caption">

                      <%= link_to image_tag(it.image_url(:thumb), :class => "img-responsive"), slugged_path(it.slug)%>
                      <p>
                  <b><%= it.name %> </b> 
                      <span class="price"><%= it.price %></span></p>
                     </div>
                      </div>
                      </div>
                      <% end %>
                  
                     </div>
                      <%#= link_to "View all", list_items_show_path(category.slug), :class => "btn btn-info" %>
                     <button type="button" class="btn btn-success">View all </button>
                     </div>
                     
                     </div>
             </div>
   
   </div>
   </div>
   </div>   

        <!-- FEATURED Products End-->

        <!-- Our Brands Start-->
        <div class="brand">
          <div class="container">
            <div class="col-xs-12">
      <div class="title"><h2><span>Our brands</span></h2></div>
        <div id="w">    
    <nav class="slidernav">
      <div id="navbtns" class="clearfix">
        <div class="arrow-brand">
        <a href="#" class="previous"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
      </div>
      </div>
    </nav>
    
    <div class="crsl-items" data-navigation="navbtns">
      <div class="crsl-wrap"> 
      <% @brands.each do |b| %>
        <div class="crsl-item">
          <div class="thumbnail">
         
             <%= link_to image_tag(b.icon_url(:icon)), list_brand_items_show_path(b.slug) if present? %>
          </div>
        </div><!-- post #1 -->
        <% end%>
        
      </div><!-- @end .crsl-wrap -->
    </div><!-- @end .crsl-items -->
    
  </div><!-- @end #w -->
  <!-- Brand Part End -->
</div>
</div>
</section>
<!-- Footer Part Start -->
<footer class="footer">
<div class="footer-top">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">

        <div class="col-md-1">
        <h2>Share: </h2>
        </div>
        <div class="col-md-6">
          <ul>

            <li><i class="fa fa-facebook-square"></i><%= link_to "Facebook", "http://www.facebook.com/sharer.php?u="+ request.original_url , :target => "_blank"%></li>
            <li><i class="fa fa-twitter-square"></i><%= link_to "Twitter", "http://twitter.com/share?url="+ request.original_url , :target => "_blank" %></li>
            <li><i class="fa fa-pinterest-square"></i><%= link_to "Pinterest", "javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" %> </li>
            <li><i class="fa fa-linkedin-square"></i><%= link_to "Linkedin", "http://www.linkedin.com/shareArticle?mini=true&url="+ request.original_url , :target => "_blank" %></li>
          </ul>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom inner-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading outer-bottom-xs">
                        <h4 class="module-title">category</h4>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Libero Sed rhoncus</a></li>
                            <li><a href="#">Venenatis augue tellus</a></li>
                            <li><a href="#">My Vouchers</a></li>
                        </ul>
                    </div><!-- /.module-body -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading outer-bottom-xs">
                        <h4 class="module-title">my account</h4>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="list-unstyled">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Search Terms</a></li>
                        </ul>
                    </div><!-- /.module-body -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading outer-bottom-xs">
                        <h4 class="module-title">our services</h4>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Libero Sed rhoncus</a></li>
                            <li><a href="#">Venenatis augue tellus</a></li>
                            <li><a href="#">My Vouchers</a></li>
                        </ul>
                    </div><!-- /.module-body -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading outer-bottom-xs">
                        <h4 class="module-title">help &amp; support</h4>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Knowledgebase</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Contact Support</a></li>
                            <li><a href="#">Marketplace Blog</a></li>
                            <li><a href="#">About online store</a></li>
                        </ul>
                    </div><!-- /.module-body -->
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="copyright">
                   Copyright © 2015
                    <a href="index.php?page=home">online store.</a>
                    - All rights Reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="clearfix payment-methods">
                    <ul>
                        <li><%= image_tag("1.png") %></li>
                        <li><%= image_tag("2.png") %></li>
                        <li><%= image_tag("3.png") %></li>
                        <li><%= image_tag("4.png") %></li>
                        <li><%= image_tag("5.png") %></li>
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Part End -->
<script src="assets/bootstrap.min.js"></script>

<script src="assets/slippry.js"></script>
<script type="text/javascript" src="assets/responsiveCarousel.min.js"></script> 
      <script type="text/javascript">
      $(function(){
        $('.crsl-items').carousel({
          visible: 3,
          itemMinWidth: 180,
          itemEqualHeight: 370,
          itemMargin: 9,
        });
        
        $("a[href=#]").on('click', function(e) {
          e.preventDefault();
        });
      });
      </script>
    </body>
</html>
